<dom-module id="cells-alberto-login-styles"><template><style>
:host {
  display: block;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
  @apply --cells-alberto-login; }

:host([hidden]), [hidden] {
  display: none !important; }

*, *:before, *:after {
  font: inherit;
  box-sizing: inherit; }

:host {
  display: block; }

:host h2 {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem; }

:host #login {
  background: #1CC898;
  height: 300px;
  border-radius: 10px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center; }

:host .form {
  width: 95%;
  max-width: 500px;
  height: 30px; }

:host .form:focus {
  border: 2px solid gray; }

:host #enviar {
  height: 50px;
  margin-bottom: 30px; }

</style></template></dom-module>